<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
    <div class="container" align-content="flex-start">
        <h1 class="my-4" align="center">My Library</h1>
        <hr>
        <h3 class="my-4" align="center" ng-show="libCtrl.display.length==0">You haven't played any games yet</h3>
        <div class="row" align-content="flex-start">
            <div class="col-lg-2 col-md-3 col-sm-4 portfolio-item" ng-repeat="game in libCtrl.display[libCtrl.currentPage] ">
                <div class="card h-100">
                    <img align="middle" class="card-img-top" ng-src="{{game.gimage}}" height="225" width="150" />
                    <div class="card-body">
                        <h6 align="center" class="card-title"><a ui-sref="games({gamesId: {{game.gameid}} })" ng-click="selectGame(game.gameid); setTab(9)">{{game.gamename}} ({{game.gamery}})</a></h6>
                        <p align="center" class="card-text">{{game.ptday}}d {{game.pthour}}h {{game.ptmin}}min {{game.ptsec}}sec</p>
                        <h6 align="center" class="card-text">Rank: {{game.rankname}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" ng-show="libCtrl.display.length>1">
        <ul class="pagination justify-content-center">
            <li ng-class="{disabled: libCtrl.currentPage == 0}">
                <a href ng-click="libCtrl.prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in libCtrl.range(libCtrl.display.length, libCtrl.currentPage, libCtrl.currentPage + libCtrl.gap) " ng-class="{active: n == libCtrl.currentPage}" ng-click="libCtrl.setPage(n)" ng-show="n>-1">
                <a href ng-bind="n+1">1</a>
            </li>
            <li ng-class="{disabled: (libCtrl.currentPage) == libCtrl.display.length - 1}">
                <a href ng-click="libCtrl.nextPage()">Next »</a>
            </li>
        </ul>
    </div>
</body>

</html>