<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
    <div class="container ">
        <div class="panel-group" id="faqAccordion">
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        <a class="ing">Q: How do I use GameTrace?</a>
                     </h4>
                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>Using our desktop application is simple enough. Just install our GameTrace application, run it, put on your user credentials and run the game you want to play. If you don't have a GameTrace account already, please make sure to go to our registration page at <a href="http://localhost:8090/register.html">http://localhost:8090/register.html</a> and register beforehand. Have fun!</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                    <h4 class="panel-title">
                        <a class="ing">Q: Who can use GameTrace?</a>
                     </h4>
                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>GameTrace is for everyone, whether you are young or old, or whether you want to keep track of your gaming progress or just gather some information regarding specific games. It is primarily intended as a social gaming platform designed by people who like games for those who have similar interests. Gaming is supposed to be fun, and we are here to help you remember the fun you had.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                    <h4 class="panel-title">
                        <a class="ing">Q: What do I get from GameTrace?</a>
                     </h4>
                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>GameTrace is a software designed to keep track of your playtime, so you can keep track of how much time you spent playing certain games. You may also use GameTrace to gather a certain demographic information regarding any specific game stored within our databases. Apart from that, there is the social aspect that GameTrace provides, as you can use it meet new people with similar interests, or socialize with your friends and compare achievements. You may also use one of the guides on our site to help you with your in-game progress, or get information about certain games from the reviews our users left on that games page. Finally, you can trade, sell or buy items you find in games on our market, therefore giving you a possibility to cash in on the effort you put in earning those items previously. Gaming is supposed to be fun, and we are here to hopefully further the fun you have while playing games.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                    <h4 class="panel-title">
                        <a class="ing">Q: I don't see a game I want to play in the database. What can I do about it?</a>
                     </h4>
                </div>
                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>If there is a game of which you would like to keep your playing progress, but you can't see it within our database, consider submitting a new request for us to provide support for that game. Be sure to neatly fill-in all the fields of the request, as they are all mandatory. After submitting a request, our administrators will take a look at it shortly and provide support for that game with our next patch. After that we will make sure to credit you as site contributor within that games description. </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                    <h4 class="panel-title">
                        <a class="ing">Q: Help! GameTrace is not detecting my game!</a>
                     </h4>
                </div>
                <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>Make sure you are not having GameTrace client blocked by your firewall. After that make sure you have properly installed your game. GameTrace is designed to detect and keep track of legally bought, installed and unmodded games, so if you are running, let's say, Skyrim with bunch of game altering mods, there is a possibility those mods may cause issues for the client. If none of that is the case, reinstall GameTrace client and make sure it is updated to the latest version. If even that does not help, contact our support with information about your setup, OS and game which is not being detected and we will make sure to help you. </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                    <h4 class="panel-title">
                        <a class="ing">Q: What can I sell on the market?</a>
                     </h4>
                </div>
                <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>Whatever you earn in games and every game related stuff, including physical copies of games. It is up to you what you will put up on sale, but we highly advise you consider whether or not users of this site would be interested in buying it. It is also up to users to work out shipping arangements. </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                    <h4 class="panel-title">
                        <a class="ing">Q: The game request I submitted got declined. Why?</a>
                     </h4>
                </div>
                <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>The most common reason would be that you didn't fill up all the necessary fields before submitting your request, or you provided some faulty information regarding the game. Other reasons may include that other users request for the same game got accepted, therefore adding the game to the database, or that the desired game already exists within our database. Before submitting your request we highly suggested you double check your inputs. GameTrace is meant to track your playtime for PC games, therefore we won't provide support for console games. </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
                    <h4 class="panel-title">
                        <a class="ing">Q: I want to find people with similar interests. How do I do that?</a>
                     </h4>
                </div>
                <div id="question7" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>GameTrace, appart from it's main purpose, which is to keep track of your playtime, may be used for socializing with other people. If you enjoyed some game inparticular and would like to discuss it with other people, you may consider going to that game's page and check the profiles of people who've played it the most. Other thing you may go on about is creating a group that will gather people around some similar interest you share. Finally, you may freely browse other people's profiles and check what they enjoyed playing the most. </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question9">
                    <h4 class="panel-title">
                        <a class="ing">Q: What are Ranks and Achievements? How do I earn them?</a>
                     </h4>
                </div>
                <div id="question9" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>Ranks and Achievements are our way of grouping up players in certain skill groups, so it would be even easier to recognize people with similar interests as you, if you compare your rankings in certain games on our site with theirs. As for earning them, it is simple enough: Just play games and enjoy :). To give you some perspective, our ranking system looks like:</p>
                        <br>
                        <p><b>Unranked</b> : less than 5 hours played
                            <br><b>Newbie</b> : 5-10 hours played
                            <br><b>Fresh</b> : 10-15 hours played
                            <br><b>Rookie</b> : 15-25 hours played
                            <br><b>Junior</b> : 25-50 hours played
                            <br><b>Adept</b> : 50-80 hours played
                            <br><b>Senior</b> : 80-100 hours played
                            <br><b>Master</b> : 100-200 hours played
                            <br><b>Grandmaster</b> : 200-500 hours played
                            <br><b>Elder</b> : 500 and more hours played
                        </p>
                        <p> It is possible our ranking and achievement system will see some expansion in the future, as we are actively considering diversifying user groups even further. Until then, have fun and enjoy games.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8">
                    <h4 class="panel-title">
                        <a class="ing">Q: This support page is all neat, but I can't seem to be able to find an answer to my question here. What can I do?</a>
                     </h4>
                </div>
                <div id="question8" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>If our answers to these frequently asked questions haven't satisfied your curiosity, or they weren't able to solve your problem, then we suggest you submit a ticket for our support team to read. Please be sure to explain your problem in great detail so we would be able to help you to the best of our ability. The ticket submission button is located down below. </p>
                    </div>
                    <div ng-controller="TicketAddController">
                        <script type="text/ng-template" id="myTicketContent.html">
                            <div class="modal-header">
                                <h3 class="modal-title"><p align='center'><b>Submit new Ticket</b></p></h3>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6">

                                        <form class="form-signin" name="ticketForm" ng-submit="ticketForm.$valid" novalidate>

                                            <div class="form-group">
                                                <input ng-model="ticketPackage[0]" type="text" class="form-control" placeholder="Problem Title:" required></input>
                                            </div>
                                            <div class="form-group">
                                                <textarea ng-model="ticketPackage[1]" class="form-control" rows="9" id="description" placeholder="Describe your problem:"></textarea>
                                            </div>
                                            <br>
                                            <fieldset>
                                                <div id="TicketAddResult">{{result}}</div>
                                            </fieldset>
                                            <br />
                                        </form>

                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" ng-click="ok()">Submit</button>
                                <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                            </div>
                        </script>
                        <button class="btn btn-default btn-warning center-block" ng-click="open()"><span class="glyphicon glyphicon-wrench"></span> Submit a New Request</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!--/panel-group-->
    </div>
    <div ng-controller="MyTicketController as mtCtrl">
        <h3 align="center" ng-show="mtCtrl.tickets.length!=0">My Tickets: </h3>
        <table class="table table-hover" ng-show="mtCtrl.tickets.length!=0">
            <thead>
                <tr>
                    <th>Ticket Title</th>
                    <th>Ticket Status</th>
                </tr>
            </thead>
            <tfoot ng-show="mtCtrl.display.length>1">
                <td colspan="6">
                    <div class="pagination pull-right" ng-show="mtCtrl.tickets.length!=0">
                        <ul class="pagination justify-content-end">
                            <li ng-class="{disabled: mtCtrl.currentPage == 0}">
                                <a href ng-click="mtCtrl.prevPage()">« Prev</a>
                            </li>
                            <li ng-repeat="n in mtCtrl.range(mtCtrl.display.length, mtCtrl.currentPage, mtCtrl.currentPage + mtCtrl.gap) " ng-class="{active: n == mtCtrl.currentPage}" ng-click="mtCtrl.setPage(n)" ng-show="n>-1">
                                <a href ng-bind="n+1">1</a>
                            </li>
                            <li ng-class="{disabled: (mtCtrl.currentPage) == mtCtrl.display.length - 1}">
                                <a href ng-click="mtCtrl.nextPage()">Next »</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
            <tbody>
                <tr ng-repeat="ticket in mtCtrl.display[mtCtrl.currentPage]">
                    <td>{{ticket.tickt}}</td>
                    <td>{{ticket.tickstat}}</td>
                    <td>
                        <a class="btn btn-primary" ui-sref="tickets({ticketId: {{ticket.tickid}} })" ng-click="selectTicket(ticket.tickid); setTab(22)">View</a>
                    </td>
                    <td>
                        <div ng-controller="MyTicketUpdateController">
                            <script type="text/ng-template" id="updateTicketContent.html">
                                <div class="modal-header">
                                    <h3 class="modal-title"><p align='center'><b>Update Ticket</b></p></h3>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">

                                            <form class="form-signin" name="ticketForm" ng-submit="ticketForm.$valid" novalidate>

                                                <div class="form-group">
                                                    <input ng-model="ticketPackage[0]" type="text" class="form-control" placeholder="Problem Title:" required></input>
                                                </div>
                                                <div class="form-group">
                                                    <textarea ng-model="ticketPackage[1]" class="form-control" rows="9" id="description" placeholder="Describe your problem:"></textarea>
                                                </div>
                                                <br>
                                                <fieldset>
                                                    <div id="TicketUpdateResult">{{result}}</div>
                                                </fieldset>
                                                <br />
                                            </form>

                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-info" ng-click="ok()">Update</button>
                                    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                                </div>
                            </script>
                            <button ng-show="mtCtrl.isNotAnswered(ticket.tickstat)" class="btn btn-default btn-info" ng-click="open(ticket.tickid)">Update</button>
                        </div>
                    </td>
                    <td>
                        <button ng-show="mtCtrl.isNotAnswered(ticket.tickstat)" class="btn btn-default btn-danger" ng-really-click="mtCtrl.removeTicket(ticket.tickid)" ng-really-message="Are you sure you want to delete this ticket?">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>